<!--
  Generated template for the LaunchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span *ngIf="year > 1;then withYear else withoutYear"></span> Launches </ion-title>
    <ng-template #withYear>{{year}}</ng-template>
    <ng-template #withoutYear>All</ng-template>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-list>

    <ion-item *ngFor="let launch of launches">
      <ion-avatar item-start>
        <img src="{{launch.links.mission_patch_small}}">
      </ion-avatar>
      <h2>{{launch.mission_name}}</h2>
      <p>{{launch.details}}</p>
    </ion-item>

  </ion-list> -->
  <ion-card *ngFor="let launch of launches">
      <img src="{{launch?.links.mission_patch_small}}"  (click)="goToDetail(launch)"/>
      <ion-card-content>
        <ion-card-title>
            {{launch?.mission_name}}
          </ion-card-title>
        <p>
            {{launch?.details}}
        </p>
      </ion-card-content>

      <ion-row no-padding>
          <ion-col>
            
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="primary" icon-start (click)="goToDetail(launch)"> 
                <ion-icon name="menu"></ion-icon>
              More infos
            </button>
          </ion-col>
          <ion-col text-right>

          </ion-col>
        </ion-row>
        
    </ion-card>

</ion-content>
