
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SpaceX</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="pastlaunchs">
            <ion-badge item-end>{{ pastLaunchesCount }}</ion-badge> <br>
          Past launches 
        </ion-segment-button>
        <ion-segment-button class="tab-center" value="nextlaunchs">
          Next launch
        </ion-segment-button>
        <ion-segment-button value="upcominglaunchs">
            <ion-badge item-end>{{ upcommingLaunchesCount }}</ion-badge> <br>
          Upcoming
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <button ion-button color="light" navPush="LaunchListPage">All pasts launchs</button> <br> -->
    
 
<ion-content padding>
    <div [ngSwitch]="pet">
      <ion-list class="scroll-none"  *ngSwitchCase="'pastlaunchs'">
          <div class="next-block">
              <h2>Next Launch  <br> IN</h2>

              <div class="spinner" *ngIf="launchTimeCountDown === undefined">
                  <ion-spinner color="primary" name='crescent'></ion-spinner>
                </div>
            
                <div class="nextLaunchCountDown" *ngIf="launchTimeCountDown">
            
                  <ion-row text-center class="countDown">
                    <ion-col>
                      <h1 ion-text color numbers>{{ launchTimeCountDown.day }}</h1> 
                      <p ion-text color>DAYS</p>
                    </ion-col>
               
                    <ion-col>
                      <h1 ion-text color numbers>{{ launchTimeCountDown.hour }}</h1>
                      <p ion-text color>HOURS</p>
                    </ion-col>
              
                    <ion-col>
                      <h1 ion-text color numbers>{{ launchTimeCountDown.minute }}</h1>
                      <p ion-text color>MINUTES</p>
                    </ion-col>
              
                    <ion-col>
                      <h1 ion-text color numbers>{{ launchTimeCountDown.seconds }}</h1>
                      <p ion-text color>SECONDS</p>
                    </ion-col>
                  </ion-row>
                </div>
          </div>

         

          <ion-card *ngFor="let launch of pastLaunches.reverse()">
              <img src="{{launch?.links.mission_patch_small}}" (click)="goToDetail(launch)"/>
              <ion-card-content>
              <ion-badge item-end>#{{launch?.flight_number}}</ion-badge>
                <ion-card-title>
                    {{launch?.mission_name}}
                </ion-card-title>
                <p>
                    {{launch?.rocket.rocket_name}} - {{launch?.launch_date_local| date:'fullDate'}}

                </p>
              </ion-card-content>
          
              <ion-row no-padding>
                  <ion-col>
                      <button (click)="redirect(launch.links.article_link)" ion-button clear small color="dark" icon-start>                    
                         <ion-icon name="book"></ion-icon>
                      </button>
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start (click)="goToDetail(launch)">
                      <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>
                      <button (click)="redirect(launch.links.video_link)" ion-button clear small color="danger" icon-start>                    
                          <ion-icon name="logo-youtube"></ion-icon>
                        </button>
                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>


<!-- ********************************************************************************************************************************************** -->
    

      <ion-list scroll-none *ngSwitchCase="'nextlaunchs'">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Creative-Tail-rocket.svg/2000px-Creative-Tail-rocket.svg.png" alt="rocket" width="100px">
            
            <div class="next-block">
                <h2>Next Launch  <br> IN</h2>
  
                <div class="spinner" *ngIf="launchTimeCountDown === undefined">
                    <ion-spinner color="primary" name='crescent'></ion-spinner>
                  </div>
              
                  <div class="nextLaunchCountDown" *ngIf="launchTimeCountDown">
              
                    <ion-row text-center class="countDown">
                      <ion-col>
                        <h1 ion-text color numbers>{{ launchTimeCountDown.day }}</h1> 
                        <p ion-text color>DAYS</p>
                      </ion-col>
                 
                      <ion-col>
                        <h1 ion-text color numbers>{{ launchTimeCountDown.hour }}</h1>
                        <p ion-text color>HOURS</p>
                      </ion-col>
                
                      <ion-col>
                        <h1 ion-text color numbers>{{ launchTimeCountDown.minute }}</h1>
                        <p ion-text color>MINUTES</p>
                      </ion-col>
                
                      <ion-col>
                        <h1 ion-text color numbers>{{ launchTimeCountDown.seconds }}</h1>
                        <p ion-text color>SECONDS</p>
                      </ion-col>
                    </ion-row>
                  </div>
            </div>



            <ion-card (click)="goToDetail(nextLaunch)">
                <img src="https://www.photospng.com/uploads/spacex-logo-icon.png" (click)="goToDetail(nextLaunch)"/>
                  <ion-badge right item-end>#{{nextLaunch?.flight_number}}</ion-badge>
              <ion-card-content>
                <ion-card-title>
                    {{nextLaunch?.mission_name}}
                </ion-card-title>
                <p>
                    {{nextLaunch?.rocket.rocket_name}} - {{nextLaunch?.launch_date_local| date:'fullDate'}}
                </p>
              </ion-card-content>

              <ion-row no-padding>
                  <ion-col>

                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start>
                        <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>

                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>
  

      <!-- ********************************************************************************************************************************************** -->


      <ion-list scroll-none *ngSwitchCase="'upcominglaunchs'">
          <div class="next-block">
              <h2>Next Launch  <br> IN</h2>

              <div class="spinner" *ngIf="launchTimeCountDown === undefined">
                  <ion-spinner color="primary" name='crescent'></ion-spinner>
                </div>
            
                <div class="nextLaunchCountDown" *ngIf="launchTimeCountDown">
            
                  <ion-row text-center class="countDown">
                    <ion-col>
                      <h1 ion-text color class="numbers">{{ launchTimeCountDown.day }}</h1> 
                      <p ion-text color>DAYS</p>
                    </ion-col>
               
                    <ion-col>
                      <h1 ion-text color class="numbers">{{ launchTimeCountDown.hour }}</h1>
                      <p ion-text color>HOURS</p>
                    </ion-col>
              
                    <ion-col>
                      <h1 ion-text color class="numbers">{{ launchTimeCountDown.minute }}</h1>
                      <p ion-text color>MINUTES</p>
                    </ion-col>
              
                    <ion-col>
                      <h1 ion-text color class="numbers">{{ launchTimeCountDown.seconds }}</h1>
                      <p ion-text color>SECONDS</p>
                    </ion-col>
                  </ion-row>
                </div>
          </div>

          <ion-card *ngFor="let launch of nextLaunches" (click)="goToDetail(launch)">
              <img src="https://www.photospng.com/uploads/spacex-logo-icon.png" (click)="goToDetail(nextLaunch)"/>
              <ion-card-content>
              <ion-badge item-end>#{{launch?.flight_number}}</ion-badge>
                <ion-card-title>
                    {{launch?.mission_name}}
                </ion-card-title>
                <p>
                    {{launch?.rocket.rocket_name}} - {{launch?.launch_date_local| date:'fullDate'}}
                </p>
              </ion-card-content>
          
              <ion-row no-padding>
                  <ion-col>
        
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start>
                      <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>
        
                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>
    </div>
  </ion-content>


  <ion-tabs>
    <ion-tab tabIcon="call" [root]="rootPage" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabIcon="chatbubbles" [root]="rootPage" tabBadge="14" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabIcon="musical-notes" [root]="rootPage"></ion-tab>
  </ion-tabs>
  <!-- <button ion-button color="light" navPush="LaunchListPage">All pasts launchs</button> <br> -->
  

