
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SpaceX</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="pastlaunchs">
          Past launches
        </ion-segment-button>
        <ion-segment-button value="nextlaunchs">
          Next launch
        </ion-segment-button>
        <ion-segment-button value="upcominglaunchs">
          Upcoming launches
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>



<ion-content padding>
    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'pastlaunchs'">
          <h2>Past launches</h2>
          <ion-card *ngFor="let launch of pastLaunches.reverse()">
              <img src="{{launch?.links.mission_patch_small}}" (click)="goToDetail(launch)"/>
              <ion-card-content>
              <ion-badge item-end>#{{launch?.flight_number}}</ion-badge>
                <ion-card-title>
                    {{launch?.mission_name}}
                </ion-card-title>
                <p>
                    {{launch?.rocket.rocket_name}} - {{launch?.launch_date_local}}
                </p>
              </ion-card-content>
          
              <ion-row no-padding>
                  <ion-col>
                      <button (click)="redirect(launch.links.article_link)" ion-button clear small color="dark" icon-start>                    
                         <ion-icon name="book"></ion-icon>
                      </button>
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start (click)="goToDetail(launch)">
                      <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>
                      <button (click)="redirect(launch.links.video_link)" ion-button clear small color="danger" icon-start>                    
                          <ion-icon name="logo-youtube"></ion-icon>
                        </button>
                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>
      <ion-list *ngSwitchCase="'nextlaunchs'">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Creative-Tail-rocket.svg/2000px-Creative-Tail-rocket.svg.png" alt="rocket" width="100px">
            <h2>Next launch</h2>
            <ion-card (click)="goToDetail(nextLaunch)">
                  <ion-badge right item-end>#{{nextLaunch?.flight_number}}</ion-badge>
              <ion-card-content>
                <ion-card-title>
                    {{nextLaunch?.mission_name}}
                </ion-card-title>
                <p>
                    {{nextLaunch?.rocket.rocket_name}} - {{nextLaunch?.launch_date_local}}
                </p>
              </ion-card-content>

              <ion-row no-padding>
                  <ion-col>

                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start>
                        <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>

                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>
  
      <ion-list *ngSwitchCase="'upcominglaunchs'">
          <h2>Upcomming launches</h2>
          <ion-card *ngFor="let launch of nextLaunches" (click)="goToDetail(launch)">
              <ion-card-content>
              <ion-badge item-end>#{{launch?.flight_number}}</ion-badge>
                <ion-card-title>
                    {{launch?.mission_name}}
                </ion-card-title>
                <p>
                    {{launch?.rocket.rocket_name}} - {{launch?.launch_date_local}}
                </p>
              </ion-card-content>
          
              <ion-row no-padding>
                  <ion-col>
        
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="primary" icon-start>
                      <ion-icon name="menu"></ion-icon>
                      More infos
                    </button>
                  </ion-col>
                  <ion-col text-right>
        
                  </ion-col>
                </ion-row>
            </ion-card>
      </ion-list>
    </div>
  </ion-content>

  <!-- <button ion-button color="light" navPush="LaunchListPage">All pasts launchs</button> <br> -->
  

